streamlit
pandas
numpy
matplotlib
streamlit-searchbox
optuna
yfinance
websockets>=10.0 # Required by yfinance for live data functionality
alpaca-trade-api # Required for Alpaca data source
kiteconnect # Required for Zerodha data source
plotly
